* {
  box-sizing: border-box;
}

body {
  background-color: #23252c;
  color: #fff;
  font-family: "Inter", sans-serif;
}

.card {
  width: 25rem;
  background-color: #1a1b21;
  margin: 3rem auto;
  overflow: hidden;
  border-radius: 10px;
}

.card-info {
  text-align: center;
}

.card-title {
  font-weight: 600;
  padding: 20px 0 0 0;
}

.card--job-title {
  color: #f3bf99;
}

button {
  width: 80%;
}

button > svg {
  padding-right: 3px;
}

.card--about {
  padding: 2.5rem;
  padding-bottom: 0;
}

.card--interest {
  padding: 0 2.5rem;
}

.card--about_title,
.card--interest_title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #f5f5f5;
}

.card--about_title ~ p,
.card--interest_title ~ p {
  font-size: 0.95rem;
  color: #dcdcdc;
}

footer {
  background-color: #161619;
  height: 4rem;
  margin: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer li {
  /* background-color: #918e9b; */
  padding: 2px;
  margin: 0 10px;
  border-radius: 2px;
}
