* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 800px;
  font-family: "Inter", sans-serif;
}

nav {
  background-color: #21222a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 40px;
}

.nav--logo {
  display: flex;
  align-items: center;
}

.nav--icon {
  width: 60px;
}

.nav--logo_name {
  color: #61dafb;
  padding-left: 10px;
  font-size: 2.5rem;
  font-weight: 700;
}

.nav--title {
  color: #deebf8;
  font-size: 1.9rem;
  font-weight: 600;
}
